@import url('https://fonts.googleapis.com/css?family=Quicksand|VT323&display=swap');
$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #F5FEFF;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 15% auto 0;
  max-width: 600px;

  h3,
  input {
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}

.hero-trait-options {

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input {
    margin: .5em;
  }
}

.hero-kin-options {

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input {
    margin: .5em;
  }
}

.hero-specialty-options {

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  input {
    margin: .5em;
  }
}

.hero-container {
  display: flex;
  margin-top: 2em;
  flex-wrap: wrap;
  justify-content: center;

  li {
    list-style: none;
  }
}

.create-hero-button {
  margin: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-alignment {

  input {
    width: 15vw;
  }
}

.col-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20rem;
  justify-content: space-between;
  margin: 1rem;
  box-shadow: 4px 3px 42px -6px rgba(0,0,0,0.34);
  text-align: center;
  padding: .5rem;
  border-radius: 3.5%;
  background-color: white;

  strong {
    font-weight: 900;
    color: #ABABAB;
  }
}

.header-name {
  font-family: 'VT323', monospace;
}

.hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-card {
  box-shadow: 4px 3px 42px -6px rgba(0,0,0,0.34);
  border-radius: 3.5%;
  background-color: white;
  width: 35rem;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
}

.hero-card-buttons {
  display: flex;
  justify-content: space-evenly;
}

.hero-form {
  margin: 2rem;

  h2, h3 {
    text-align: center;
  }
}
